<!DOCTYPE html>
<html>
<head>
	<title>WebGuesser</title>
	<style type="text/css">
		body {
			background: <%=color%>;
		}
	</style>
</head>
<body>
	<p>
		<%=message%>
	</p>
	<% if cheat == "true" %>
	<p>
		The SECRET NUMBER is <%=secret_number%>
	</p>
	<% end %>
	<form>
		<input type="text" name="guess" />
		<input type="submit" value="Guess!" />
	</form>
</body>
</html>
